<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-3.0.xsd
      "
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context">
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	<!-- 加载资源文件配置 -->
	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation">
			<value>classpath:ehcache.xml</value>
		</property>
	</bean>

	<bean id="methodCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager">
			<ref local="cacheManager" />
		</property>
		<property name="cacheName">
			<value>sampleCache1</value>
		</property>
	</bean>

	<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource"
		scope="singleton">
		<property name="driverClassName">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="url">
			<value>${jdbc.url}</value>
		</property>
		<property name="username">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		<property name="maxActive">
			<value>150</value>
		</property>
		<property name="maxIdle">
			<value>50</value>
		</property>
		<property name="maxWait">
			<value>1500</value>
		</property>
		<property name="initialSize">
			<value>50</value>
		</property>
		<property name="validationQuery">
			<value>select * from epub limit 0,1</value>
		</property>
	</bean>

	<bean class="com.baoyi.dao.EpubDaoImpl" scope="prototype">
		<property name="sql_add">
			<value> INSERT INTO epub (description ,fileurl ,name ,picurl ,
				sourtnum) VALUES
				(?,?, ?, ?,?)</value>

		</property>
		<property name="sql_update">
			<value> UPDATE epub SET
				description=?,fileurl=?,name=?,picurl=?,sourtnum=? WHERE id=?
			</value>
		</property>
		<property name="sql_delete">
			<value> delete from epub WHERE id=? </value>
		</property>
		<property name="sql_top">
			<value> select * from epub order by id desc limit 0,50</value>
		</property>
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<bean class="com.baoyi.dao.MysqlDaoImpl" scope="prototype">
		<property name="sql_mysql">
			<value>show full processlist</value>
		</property>
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<context:component-scan base-package="com.baoyi.controller" />
	<context:component-scan base-package="com.baoyi.actions" />

	<!-- hibernate配置参数 此处不需注销，只需将jdbc.properties文件中hibernate.hbm2ddl.auto设置为none即可 -->
	<!-- zhaikun 2010.4.29 START -->
	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.connection.autocommit">${hibernate.connection.autocommit}</prop>
				<prop key="hibernate.connection.release_mode">${hibernate.connection.release_mode}</prop>
			</props>
		</property>
	</bean>

	<!-- 配置Hibernate中的SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- zhaikun 2010.4.29 在需要创建数据库是去掉注释，此处不需注销，只需将jdbc.properties文件中hibernate.hbm2ddl.auto设置为none即可 -->
		<property name="hibernateProperties">
			<ref bean="hibernateProperties" />
		</property>

		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/com/epublib/domain/</value>
			</list>
		</property>
	</bean>
	<import resource="config/spring/category.xml" />
	<import resource="config/spring/epub.xml" />
</beans>
